<footer class="page-footer font-small bg-dark pt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h5 class="text-white">
                    Siga-nos nas nossas redes sociais
                </h5>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <ul class="social-network">
                    <li>
                        <a class="icoFacebook" href="https://www.facebook.com/avatarBR" target="_blank">
                            <i class="fa fa-facebook-square" aria-hidden="true"></i>
                        </a>
                    </li>

                    <li>
                        <a class="icoInstagram" href="https://www.instagram.com/avatar/" target="_blank">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                    </li>

                    <li>
                        <a class="icoTwitter" href="https://twitter.com/officialavatar" target="_blank">
                            <i class="fa fa-twitter-square" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="footer-copyright bg-dark text-center py-3">
            <span class="text-light">@ 2022 20th Copyright: </span>
            <a class="text-light" target="_blank" href="https://www.avatar.com/">avatar.com</a>
        </div>

    </div>
</footer>